.block-module-container {
  min-height: 100%;
  justify-content: space-evenly;
}

.block-module-top-row {
  justify-content: center;
}

.block-module-top-row .dropdown-title {
  min-width: 200px;
  justify-content: center;
}

.block-module-top-row .dropdown-title,
.block-module-mid-row .block-stats {
  flex: 1;
}

.block-module-top-row .slider,
.block-module-mid-row .block-stats {
  padding-left: 40px;
  padding-top: 50px;
}

.block-module-top-row .slider {
  flex: 3;
  justify-content: flex-start;
  align-items: center;
  min-width: 300px;
}

.block-module-mid-row {
  justify-content: flex-start;
  height: 100%;
}

.block-module-mid-row .block-stats ul li {
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
}

.block-module-mid-row .graphs {
  flex: 2;
}
