.container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-height: 100vh;
}

.container .router-container {
  background: #f5f6fa;
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.column-flex-wrap {
  display: flex;
  flex-flow: column wrap;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.row-flex-wrap {
  display: flex;
  flex-flow: row wrap;
}
